.navlink-container{
    text-decoration: none;
    
    }
    
    .nav-link {
    
        color: #1BA098 !important;
        font-weight: bold;
    }
    .text-title{
        color:  #183a1d  !important;
    }
 
    .link{
        text-decoration: none;
        font-size:20px;
        color:rgb(100, 105, 105);
        font-weight: bold;
        margin-left: 10px;
    }
    .active-link{
        text-decoration: none;
        font-size:20px;
        color:  red  !important;
        font-weight: bold;
        margin-left: 5px;
       
    }


    .nav-color{
        background-color:#051622  ;
    }

    .nav-container{
        position: fixed;
    }

    .toggleme{
        color: aliceblue;
        background-color: aliceblue;
    }

    .text-colorfrmsg{
        color:rgb(100, 105, 105);
    }
    .text-colorfrmsg:hover{
        color:white;
    }
   
    /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .page {
       display: none;
    }

    
  }
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    /* .mainHeader{
        display: none;
    } */
   

  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
.mainHeader{
    display: none;
}
.page{
    display: block;
}
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .mainHeader{
        display: none;
    }
    .page{
        display: block;
    }
  }